// Define custom variables
$primary: #780614;
$secondary: #ccc;
$light: #f8f8f8;

$dark: #333;
$headings-font-family: 'Barlow', sans-serif;
$body-color: #444;
$headings-color: $primary;
$enable-responsive-font-sizes: true;
$border-radius: 5px;
$link-decoration: none;
$enable-negative-margins: true;
// Import Bootstrap SCSS
@import '~bootstrap/scss/bootstrap';

.hover-primary{
    transition: background-color 0.3s ease;
    &:hover {
        background-color: $primary;
        color: white;
    }
}


.hover-primary-light {
    background-color: $light;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: $primary;
        color: white;
    }
    &:hover h3 {
        color: white;
    }
    &:hover h5 {
        color: white;
    }
}

.footer .btn.btn-social:hover {
    color: $primary;
}

.theme-svg .primary-color {
    fill: $primary;
}

.accordion-button:not(.collapsed) {
    background-color: var(--bs-heading-color) !important;
    color: #fff !important;
}

.accordion-button.collapsed {
    background-color: var(--bs-heading-color) !important;
    color: white !important;
}
.accordion-button::after {
    filter: brightness(0) invert(1);
}

.accordion-body {
  background-color: #ffffff;
}
